// pedido.scss

#ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
  }
  
  #ofertaa {
    width: 250px;
    background-color: rgb(255, 238, 152);
    height: 350px;
    border: 4px solid black;
    border-right: 0;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
  }
  
  #ofertab {
    width: 350px;
    background-color: rgb(255, 238, 152);
    height: 450px;
    border: 4px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #ofertac {
    width: 250px;
    background-color: rgb(255, 238, 152);
    height: 350px;
    border: 4px solid black;
    border-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .text {
    font-size: x-large;
  }
  
  .ptx {
    font-weight: bold !important;
    font-size: 110%;
  }
  
  .bofert {
    width: 80%;
    height: 15%;
    margin: auto;
    border: 3px solid black;
    background-color: #FF7A7A;
    font-weight: bold;
    font-size: 80%;
  }
  